* {
    box-sizing: border-box;
}

body {
    background-color: black;
    color: white;
}

.ball {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-color: teal;
    margin: auto;
}
